/data/*
src/__pycache__/*
/.ipynb_checkpoints/*
temp-plot.html/*
experiments.py
whatsapp_chatbot.py
Patrick_Geschenk.ipynb
Procfile
GeschenkPatrick.py
/light/*
/dark/*
__pycache__/*
/src/test.py
src/.ipynb_checkpoints/make_report-checkpoint.ipynb
src/temp-plot.html



